/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
@import "section/header.css";
@import "section/footer.css";
@import "section/nav.css";

/*
Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/

/*myreset*/
*{
	box-sizing: border-box;
}
input[type="text"],textarea{
	outline:none;
}
html,
body {
	height: 100%;
	font-family: Roboto;
	line-height: 1.428;
}
body,ul,li {
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul,li{
	list-style: none;
}

.clearfix:after{
	content:"";
	clear: both;
	display: table;
}
address{
	font-style: normal;
}
/******/
.wrapper {
	min-height: 100%;
	overflow-x: hidden;
}
.container{
	width: 1062px;
	margin: 0 auto;
	box-sizing: border-box;
}

.main {
	box-sizing: border-box;
	height: 100%;
}
.main__container {
	padding-bottom: 77px;
}

.main-team,
.main-about,
.main-reviews {
	width: 885px;
	float: right;
}


.title {
	color: #221f1f;
	font-family: Roboto;
	font-size: 49px;
	font-weight: 700;
	margin-bottom: 38px;
}