/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import "http://fonts.fontstorage.com/import/roboto.css";
@import "section/header.css";
@import "section/footer.css";
@import "section/nav.css";

/*
Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/

/*myreset*/
html,
body {
	height: 100%;
}
body,ul,li {
	padding: 0;
	margin: 0;
	font-family: Roboto;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
ul,li{
	list-style: none;
}
.clearfix:after{
	content:"";
	clear: both;
	display: table;
}
/******/
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.container{
	width: 1062px;
	margin: 0 auto;
	box-sizing: border-box;
}

.main {
	box-sizing: border-box;
	height: 100%;
}
.main__container {
  padding-bottom: 77px;
}
