.content__about{
	margin-bottom:54px;
}
.about-img {
	width: 884px;
	height: 354px;
	position: relative;
	background: url(../../img/about.png) no-repeat center;
	background-color: white;
	margin-bottom: 5px;
	bottom: 44px;
}  
.about-img__title {
	position: absolute;
	margin: 0;
	left: 68px;
	top: 143px;
}

.about-text {
	width: 700px;
	color: #221f1f;
	font-size: 18px;
	font-weight: 300;
	padding: 3px;
	line-height: 28px;
}
.about-text__name {
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
}

.about-text__paragraph {
	line-height: 1.6;
	margin-top: 20px;
}

.about-text__paragraph-title {
	margin-bottom: 14px;
}

.about-text__items {
	padding-left: 40px;
	margin-bottom: -8px;
}

.about-text__item {
	margin-bottom: 3px;
	list-style-type: disc;
	font-size: 9px;
}
.about-text__item-txt{
	font-size: 18px;
}

.about-ads {
	width: 700px;
	padding: 16px 16px 12px 34px;
	background-color: #1c5bc3;
	font-size: 18px;
	line-height: 30px; 
	font-weight: 300;
	box-sizing: border-box;
	color: white;
}
.partner {
	margin-bottom: 74px;
}
.partner__title {
	margin-bottom: 33px;
}

.partner__items {
	display: inline-block;
	width: 711px;
}

.partner__item {
	width: 165px;
	display: inline-block;
	height: 64px;
	margin-right: 103px;
	margin-bottom: 45px;
	text-align: center;
}
.partner__item:nth-child(3n){
	margin-right: 0px;
}
.partner__item:nth-child(n+3){
	margin-bottom: 0px;
}
.partner__img {
	display: inline-block;
}
.partner__wrap-img {
	display: inline-block;
	vertical-align: middle;
}

.about-ads__href {
	font-weight: 700;
	text-decoration: underline;
	color: white;
}
.about-ads__href:hover{
	color: #d2e1e8;
}