.nav{
	width: 142px;
	float: left;
}
.nav-main__item{
	line-height: 18px;
	margin-bottom: 30px;
}
.nav-main__item:last-child{
	margin-bottom: 0px;
}
.nav-main__href {
	text-decoration: none;
	color: #1c5bc3;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	transition: color .8s;
	display: block;
}
.nav-main__href-ico{
	display: block;
	width: 24px;
	height: 18px;
	float: left;
	margin-right: 14px;
	background-repeat:no-repeat;
	position: relative;
}
.nav-main__href-ico:after{
	content: "";
	opacity: 0;
	transition: opacity 0.8s; 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.nav-main__href-ico_aircraft{
	background: url(../../img/icon/spritesheet.png) -3px -5px;
}
.nav-main__href-ico_cap{
	background: url(../../img/icon/spritesheet.png) -61px -5px;
}
.nav-main__href-ico_star{
	background: url(../../img/icon/spritesheet.png) -94px -6px;
}
.nav-main__href:hover .nav-main__href-ico_aircraft::after,.nav-main__href_active .nav-main__href-ico_aircraft::after{
	background: url(../../img/icon/spritesheet.png)-31px -5px;
	opacity: 1;
}
.nav-main__href:hover .nav-main__href-ico_cap::after,.nav-main__href_active .nav-main__href-ico_cap::after{
	background: url(../../img/icon/spritesheet.png) -5px -33px;
	opacity: 1;
}
.nav-main__href:hover .nav-main__href-ico_star::after,.nav-main__href_active .nav-main__href-ico_star::after{
	background: url(../../img/icon/spritesheet.png) -79px -35px;
	opacity: 1;
}
.nav-main__href:hover,.nav-main__href_active{
  color: #221f1f;
}
.bread-crumbs{
	margin-bottom: 11px;
}
.bread-crumbs__items {
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	line-height: 1;
	opacity: 0.8;
	text-indent: 2.4px;
}
.bread-crumbs__item,
.bread-crumbs__item_active {
	display: inline-block;
}
.bread-crumbs__item:not(:last-child):after{
	content: " / ";
}
.bread-crumbs__href {
	color: #5b96d9;
}
.bread-crumbs__href:hover {
	color: #224873;
}
.bread-crumbs__item_active .bread-crumbs__href {
	text-decoration: none;
	color: #221f1f;
	cursor: default;
}